table {
    width: 100%;
    border-spacing: 0;

    tr {
        td,
        th {
            padding: 10px;
            text-align: left;
        }
    }

    tbody {
        tr {
            &:nth-child(odd) {
                td {
                    background-color: #f2f2f2;
                }
            }
        }
    }

}