

.content {
    padding: 20px 50px;
    form {
        display: flex;
        flex-direction: column;

        .actions {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;

            button {
                margin-left: 10px;
            }
        }
    }
}
